{% extends 'base.html.twig' %}

{% block body %}
  <div class="flex flex-col items-center justify-center min-h-screen px-6 md:px-12 bg-gray">
    <div class="flex flex-col md:flex-row gap-6 md:gap-8 items-start justify-center text-white max-w-4xl w-full">
      <div class="flex-shrink-0 mb-6 md:mb-0">
        <img src="{{ movie.poster }}" alt="{{ movie.title }} poster" class="rounded-lg shadow-lg" />
      </div>
    
      <div class="flex-1 text-center md:text-left">
      {# Titre #}
        <h1 class="text-3xl font-semibold mb-4">{{ movie.title }}</h1>
      {# Résumé #}
        <p class="text-lg text-gray-300 mb-4">{{ movie.summary }}</p>
      {# Date de sortie #}
        <div class="mb-4">
          <span class="text-gray-400">Date de sortie:</span>
          <span>{{ movie.releaseDate|date('d/m/Y') }}</span>
        </div>
        <div class="mb-4">
          <span class="text-gray-400">Réalisé par:</span>
          <span>{{ movie.director }}</span>
        </div>
        <div class="mb-4">
          <span class="text-gray-400">Acteurs principaux:</span>
          <span>{{ movie.mainActors }}</span>
        </div>

        <div class="mb-4">
          <span class="text-gray-400">Categories:</span>
          <span class="text-white">
            {% for category in movie.categories %}
              {{ category.name }}{% if not loop.last %}, {% endif %}
            {% endfor %}
          </span>
        </div>

        {# Note #}
        <div class="flex items-center mt-2.5 mb-5">
            {% set rating = movie.getAverageRating() %}
            {% if rating %}
              {% set full_stars = rating|round(0, 'floor') %}
              {% set empty_stars = 5 - full_stars %}
              <div class="flex items-center space-x-1 rtl:space-x-reverse">
                {% for i in 1..full_stars %}
                  <svg class="w-4 h-4 text-yellow-300" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 22 20">
                    <path d="M20.924 7.625a1.523 1.523 0 0 0-1.238-1.044l-5.051-.734-2.259-4.577a1.534 1.534 0 0 0-2.752 0L7.365 5.847l-5.051.734A1.535 1.535 0 0 0 1.463 9.2l3.656 3.563-.863 5.031a1.532 1.532 0 0 0 2.226 1.616L11 17.033l4.518 2.375a1.534 1.534 0 0 0 2.226-1.617l-.863-5.03L20.537 9.2a1.523 1.523 0 0 0 .387-1.575Z" />
                  </svg>
                {% endfor %}
                {% for i in 1..empty_stars %}
                  <svg class="w-4 h-4 text-gray-200" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" stroke="currentColor" viewBox="0 0 22 20">
                    <path d="M20.924 7.625a1.523 1.523 0 0 0-1.238-1.044l-5.051-.734-2.259-4.577a1.534 1.534 0 0 0-2.752 0L7.365 5.847l-5.051.734A1.535 1.535 0 0 0 1.463 9.2l3.656 3.563-.863 5.031a1.532 1.532 0 0 0 2.226 1.616L11 17.033l4.518 2.375a1.534 1.534 0 0 0 2.226-1.617l-.863-5.03L20.537 9.2a1.523 1.523 0 0 0 .387-1.575Z" />
                  </svg>
                {% endfor %}
              </div>
            {% else %}
              <span>Pas d'avis</span>
            {% endif %}
            <span class="bg-blue-100 text-blue-800 text-xs font-semibold px-2.5 py-0.5 rounded-sm dark:bg-blue-200 dark:text-blue-800 ms-3">{{ rating|default('N/A') }}</span>
          </div>
        {# Bouton avis #}
        <div class="flex justify-end mt-4">
          {% if is_granted('ROLE_USER') %}
            <a href="{{ path('app_review', { movieId: movie.id }) }}"
              class="text-white bg-blue-700 hover:bg-blue-800 font-medium rounded-lg text-sm px-4 py-2">
              Donnez votre avis
            </a>
          {% else %}
            <a href="{{ path('app_login') }}"
              class="text-white bg-red-600 hover:bg-red-700 font-medium rounded-lg text-sm px-4 py-2">
              Connectez-vous pour laisser un avis sur ce film
            </a>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
{% endblock %}
